body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

header {
  background: #61BFD2;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

header h2 {
  padding: 10px;
  margin: 0;
}

.nav-bar {
  width: 80%;
  margin: 0 auto;
}

li {
  font-size: 1.2em;
  list-style: none;
  padding-right: 20px;
}

button {
  font-size: .65em;
  color: #fff;
  background-color: #404d97;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: darkgray;
}

@media only screen and (min-width: 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.logo {
float: left;
padding: 10px 0;
color: #6C4719
}

.column-layout {
max-width: 1400px;
background-color: #FFF;
margin: 10px auto 0 auto;
line-height: 1.65;
padding: 15px;
display: flex;
justify-content: space-between;
}

.dest-list{
flex: 1;
order: 1;
background-color: #c0dbe2;
font-family: Arial, Helvetica, sans-serif;

}

.dest-details {
flex: 2;
order: 2;
background-color: #c0dbe2;
font-family: Arial, Helvetica, sans-serif;
}

.dest-details p {
font-size: 1.2em;
color: black;
font-family: Arial, Helvetica, sans-serif;
}

#dest-btns-container {
text-align: center;
}

.bg-modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
width: 500px;	
justify-content: center;
align-items: center;
overflow: auto;
}

/* #dest-form {


} */
/* input[type=submit]{
background-color: #4CAF50;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
} */

input {
display:block; 
width:100%;
border:2px solid #2980B9;
padding:.5rem;
font-size:12px;
border-radius:5px;
margin: 15px auto;
/* width: 50%; */
/* padding: 8px; */
 border: 1px solid gray;
}
/* label{
display:block;
padding:1rem 0 .25rem;
text-transform:uppercase;
font-size:14px;
} */

input[type=submit]{
background-color: #404d97;
color: white;
cursor: pointer;
} */

/* .modal-content {
height: 300px;
width: 500px;
background-color: white;
text-align: center;
padding: 20px;
position: relative;
border-radius: 4px;
} */

.modal-content {
margin: 15% auto;
background-color: white;
padding: 20px;
border: 1px solid #888;
position: relative;
width: 80%;
box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
animation-name: modalopen;
animation-duration: 1s;
text-align: center;
}

.modal-header h3{
margin: 2;
}

.modal-header {
background: #61BFD2 ;
padding: 15px;
color: #fff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.modal-body {
padding: 10px 20px;
background: #fff;
}

.close {
color: lightgray;
float: right;
font-size: 30px;
color: #fff;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

@keyframes modalopen {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}



/* input {
margin: 15px auto;
display: block;
width: 50%;
padding: 8px;
border: 1px solid gray;
} */





/* .submission-form{
max-width:500px;
margin:2rem auto;
border:2px solid #E74C3C;
padding:2rem;
border-radius:5px;
label{
  display:block;
  padding:1rem 0 .25rem;
  text-transform:uppercase;
  font-size:14px;
}
input {
  display:block;
  width:100%;
  border:2px solid #2980B9;
  padding:.5rem;
  font-size:14px;
  border-radius:5px;
} */

/* } */


/* #submit{
border:0;
background:#343050;
padding:.5rem;
color:white;
margin:1rem 0;
width:auto;
text-transform:uppercase;
cursor:pointer;
transition:.3s background ease;
&:hover{
  background:#3498DB;
}
} */